@import '../../../node_modules/materialize-css/sass/materialize.scss';
@import './Layouts/scss/layouts.scss';

$gradientBottom: rgb(0,0,0);
$gradientTop: rgba(0,0,0,0);

.background-dark-blur {
  position: relative;
  width: 100%;
  z-index: 1;
}

.background-dark-blur::after {
  content: '';
  background-image: linear-gradient($gradientTop, $gradientBottom);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
  fill-opacity: 0.5;
}